body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  color: white;
  background-color: #011d42e7;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

h1 {

  background-attachment: move;
  background-color: rgb(100, 14, 134);
  color: aliceblue;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px 10px;
}

h3 {
  background-color: rgb(100, 14, 134);
  color: whitesmoke;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  margin: 45px;
  border-radius: 10px 10px;
}

h2 {
  color: whitesmoke;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
  padding: 16px;

}

h4 {
  color: whitesmoke;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.h3 {
  margin: 8px;
  padding: 16px;
}

.dp {
  margin: 20px 0px;
  padding: 25px 0px;
}

.expp-img {
  margin: 20px 0px;
  padding: 25px 0px;

}


.submitbutton {
  margin: 0px 0px;
  padding: 3px 13px;
}

/* .contactform-items {

  float: right;
  width: 50%;

} */
.contactform-items{
  align-items: center;
}
.social{
  padding: 10px 10px;

}

.social a{
  
  border-radius: 10px;
  transition: .5s linear;
}
.social a:hover{
  font-size: 25px;
  background-color: #000000;
}
.facebook {
  padding: 20px;
  color: white;
  margin: 5px 2px;
  /* background: #3b5998; */
 
  width: 50px;
}
.facebook:hover{
  color: #3b5998;
}
.linkedin {
  padding: 20px;
  color: white;
  margin: 5px 2px;
  /* background-color: #194094; */

}
.linkedin:hover
{
 color:  #103fa5; 
}
.twitter {
  padding: 20px;
  margin: 5px 2px;
  /* background: #55ACEE; */
  color: white;
}
.twitter:hover{
  color: #55ACEE;;
}
.instagram {
  padding: 20px;
  margin: 5px 2px;
  /* background: #E4405F; */
  color: white;
}
.instagram:hover{
  color: #E4405F;
}
.github {
  padding: 20px;
  margin: 5px 2px;
  /* background: #000000; */
  color: white;

}

h5 {
  margin-left: 40em;
  padding-bottom: 50em;
}

img {
  border-radius: 50%;
  padding: 22px 5px;
  margin: 0px;
  box-sizing: border-box;
  max-width: 300px;
  max-height: 300px;
  object-fit: auto;

}

.exp {
  font-size: xx-large;
  width: 180px;
}

.follow {
  font-size: xx-large;
  background-color: rgb(100, 14, 134);
  border-radius: 3px;
} 

.skilll {
  font-size: xx-large;
  width: 138px;
}

.welcome {
  font-size: xx-large;
  width: 180px;
}

.expe {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 0px 45px;
}

.container {
  width: 100%;

}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;

}

.c {
  width: 90%;
  border-radius: 30px;
  background-color: #04AA6D;
}

.html {
  width: 80%;
  background-color: #2196F3;
  border-radius: 30px;
}

.css {
  width: 70%;
  background-color: #808080;
  border-radius: 30px;
}

.java {
  width: 75%;
  background-color: #f44336;
  border-radius: 30px;

}

.Cplus {
  width: 85%;
  background-color: #2196F3;
  border-radius: 30px;
}

.skillbox {
  width: 100%;
  background-color: rgb(255, 252, 252);
  border-radius: 30px;
  text-align: right;
}

.navbar {
  overflow: hidden;
  background-color: #000000;
  position: sticky;
  justify-content: space-between;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
}

.navbarresponsive {
  overflow: hidden;
  background-color: #000000;
  color: white;

}

.Skill {
  border-style: double;
}

.responsivenav {
  overflow: hidden;
  background-color: #000000;
  color: white;
  justify-content: space-between;
  text-decoration: none;
  margin: 10px 10px;


}

.responsivenav:hover {
  background-color: rgb(78, 125, 139);
  color: #000000;
  text-decoration: underline rgb(236, 116, 11);
transition: all linear 0.35s;

}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;

}

.navbar a::after {

  background: #ff004f;
  content: '';
  width: 0%;
  height: 3px;
  position: sticky;
  left: 0;
  bottom: -6px;
  margin: auto;
  display: block;
  transition: 0.5s;

}

.navbar li {
  padding-top: 3px;
  float: left;
  list-style: none;
  margin: 13px 60px;
  transition: all linear 0.5s;
}

.navbar a:hover::after {
  background-color: rgb(78, 125, 139);

  color: #000000;
  text-decoration: underline rgb(236, 116, 11);
  width: 100%;
  transition: all linear .5s ;

}

.navbar a:active {
  background-color: black;
  color: rgb(236, 116, 11);

}

.navbar .icon {
  display: none;
}

@media screen and (max-width:600px) {
  .navbar a:not(first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
    scroll-behavior: smooth;
    
  }

  .contact-img {
    order: 1;
  }


}

@media screen and (max-width:600px) {
  .navbar.responsive {
    position: relative;
   
  }
  .navbarresponsive{
    z-index: 1;
    position: sticky;
    overflow: hidden;
  }
  .navbar a::after {

    background: #ff004f;
    content: '';
    width: 0%;
    height: 3px;
    margin: auto;
    display: block;
    transition: 0.5s;
   
  }
  .navbar a:active {
    background-color: black;
    color: rgb(236, 116, 11);
  
  }
  .navbar a:hover::after
  {
    text-decoration: underline rgb(236, 116, 11);
    width: 100%;
    transition: all linear .5s ;

  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    

  }

  .contact {
    order: 4;
    margin: 10px 20px;
    padding: 40px 30px;

  }

  .search {
    display: none;
  }

  .exp {
    width: 175px;
  }

  .logo-img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transition: all .8s linear;
    transition: all .8s linear;

  }

  .social a:hover{
    background-color: #000000;
    border-radius: 10px;
    transition: .5s linear;

   font-size: 20px;
  }
  .facebook {
    padding: 20px;
    color: white;
    margin: 5px 2px;
    /* background: #3b5998; */
   
    width: 50px;
  }
  .facebook:hover{
    color: #3b5998;
  }
  .linkedin {
    padding: 20px;
    color: white;
    margin: 5px 2px;
    /* background-color: #194094; */
  
  }
  .linkedin:hover
  {
   color:  #103fa5; 
  }
  .twitter {
    padding: 20px;
    margin: 5px 2px;
    /* background: #55ACEE; */
    color: white;
  }
  .twitter:hover{
    color: #55ACEE;;
  }
  .instagram {
    padding: 20px;
    margin: 5px 2px;
    /* background: #E4405F; */
    color: white;
  }
  .instagram:hover{
    color: #E4405F;
  }
  .github {
    padding: 20px;
    margin: 5px 2px;
    /* background: #000000; */
    color: white;
  
  }
  .Skill 
  {
    width: 48%;

  }
  
}

.search {
  float: right;
  color: white;
  padding: 12px 65px;
}

.navbar input {
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 5px;
  width: 343px;
}


.Home {
  order: 1;
  flex-grow: 10;
  padding: 48px 30px;
}

.Experience {
  order: 2;
  padding: 48px 30px;
}

.Skill {
  order: 3;
  margin: 10px 34px;
  /* padding: 30px 56px; */
  padding: 60px 30px;
  width: 48%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


/* .contact
{
  height: 500px;
  padding: 20px 40px;
  margin: 20px 40px;
} */
.DM {
  order: 5;
  flex-shrink: 2;
  margin: 10px 20px;
  height: 300px;
  padding: 10px 10px;
  text-align: center;
}

.DM::before {
  transition: none;

}

.facebook .instagram .twitter .github .linkedin:hover {
  box-shadow: 0px 0px 30px #976efd;
  transition: all 0.2s ease-in;
}

.logo-img {
  float: left;
  top: 0;
  position: relative;
  height: 4em;
  padding: 0.5em 1em;

}

.logo-img:hover {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transition: all .8s linear;
  -webkit-transition: all .8s linear;
  transition: all .8s linear;


}



/* footer css */

.drop-mail {
  border: 3px whitesmoke;
  border-style: solid;
  height: 40%;
  padding: 5px 5px;
  margin: 15px 10px;

}

.mail {
  text-decoration: none;
  color: rgb(11, 120, 156);
}

.fullsection {
  background-color: black;
  color: aliceblue;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  margin-left: -10px;
  width: 100%;
  margin-right: 40px;
}

.footer {
  list-style-type: none;
  padding: auto;
  margin: auto;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.footer li {
  opacity: 60%;
  cursor: pointer;
}

.footer li:hover {
  opacity: 100%;
}

.alllinks li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  padding: 5px 5px;
}

.uselink {
  padding: 0px 30px;
}

.main-div {
  padding: 10px 10px;
  margin: 15px 20px;
}

.main-div li {
  list-style: none;
  text-decoration: none;
  padding: 5px 5px;
}

.uselink li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0px;
  opacity: 60%;
}

.sociallinks {
  padding: 10px 10px;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;

}

.socialmedia {
  padding: 0px 30px;
}

.socialmedia li a {
  text-decoration: none;
  color: whitesmoke;
}

.sociallinks li {
  list-style: none;
  text-decoration: none;
  padding: 5px 0px;
  opacity: 60%;
  color: aliceblue;
}

.sociallinks li a {
  text-decoration: none;
  color: whitesmoke;
}

.yp {
  color: aqua;
}

.main-div li a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width:600px) {
  .uselink {
    padding: 2px 14px;
  }

  .sociallinks li {
    padding: 5px 3px;
  }

  .socialmedia {
    width: 20px;
  }

  .sociallinks li {
    padding: 0px 0px;
    margin: 15px 0px;
    left: 0;

  }

  .fullsection {
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    overflow: initial;

  }

  .footer {
    display: flex;
    justify-content: flex-start;

  }

  .main-div {
    padding: 0px 0px;
    margin: 29px 0px;
  }

  .sociallinks li a {
    text-decoration: none;
    color: whitesmoke;

  }
 
}


/* contact form css */
.contact
{
  order: 4;
  flex-shrink: 2;
  margin: 30px 30px;
  padding: 100px 30px;
}
.contact-header {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  letter-spacing: 5px;
  width: 250px;
  font-size: xx-large;
  background-color: rgb(100, 14, 134);
  border-radius: 3px;
 height: 30px;
}

#contact {
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.fullCont {
  /* display: inline-block; */
  flex-direction: row;
  justify-content: center;
  position: relative;
  

  /* max-width: 840px; */
}

/* #contact {
  float: right;
  width: 100%;

} */

#email {
  text-decoration: none;
  color: white;
}

.contact-item:hover {
  text-decoration: none;
  border-color: #976efd;
}

.contact-item::before {
  text-decoration: none;
}

.contact-item::after {
  border-color: rgb(68, 135, 157);
  text-decoration: none;
}

.contact-item:hover::after {
  border-color: rgb(49, 168, 189);
  text-decoration: none;
}


.contact-item {
  border-radius: 4px;
  max-width: 400px;
  background-color: rgb(22, 21, 21);
  opacity: 1;
  color: white;
  padding: 5px 5px;

 
  
}

#submit {
  text-decoration: none;
  background-color: rgb(58, 91, 141);
  padding: 3px 10px;
  margin: 15px 35px;
  height: 35px;
  border-radius: 6px;
  background-color: transparent;
}

#submit:hover {
  background-color: #2196F3;
  transition: .6s linear;
}

.send {
  overflow: hidden;
  text-decoration: none;
  margin: 4px 4px;
  height: 25px;

}

.fa-fa-paper-plane::before {
  display: none;
}

.fa-fa-paper-plane:hover {
  display: inline;
}


.contact-list {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

.send {
  color: white;
  background-color: transparent;
}



#input-name {
  color: white;

  background-color: transparent;
  /* border-radius: 6px; */
  width: 200px;
  border: 2px solid white;
  margin: 1px 1px;
  height: 25px;
}

#input-email {
  background-color: transparent;

  border-radius: 6px;
  width: 200px;
  color: white;
  margin: 1px 1px;
  height: 25px;
  border: 2px solid white;
}

#input-subject {
  background-color: transparent;

  border-radius: 6px;
  width: 200px;
  height: 30px;
  color: white;
  margin: 1px 1px;
  height: 25px;
  border: 2px solid white;
}

#input-message {
  background-color: transparent;

  border-radius: 6px;
  width: 250px;
  height: 50px;
  overflow: hidden;
  color: white;
  margin: 1px 1px;
  border: 2px solid white;
}

.Contactform
{
  display: block;
  padding: auto;
  margin: auto;  
  align-items: center;
  width: 29%;
  padding: 100px 10px;
}
@media screen and (max-width:600px) {

  .contact-list li a {
    padding: 0 auto;
    margin: 0 auto;
  }

  #contact {
    padding: 4px px;
    margin: 50px 60px;
  }

  .contact-list {
    display: none;
  }
  #submit{
    height: 40px;
  }
  .contact-header
  {
    font-size: 25px;
  }
  .Contactform{
    width: 62%;
  }

}

@media screen and (max-width:600px) {

    .DM{
      width: 100%;
      padding: 10px 10px;
      height: 60%;
      font-size: 30px;
      
    }
    #contact{
      padding: 4px 5px;
      margin: 0px 0px;
    }
    .uselink{
      padding: 0px 9px;
      margin: 0px 0px;
    }
    .sociallinks
    {
      padding: 0px 0px;
      margin: 25px 0px;
    }
    .main-div
    {
      flex: 1;
      padding: 7px 2px;
    }
    .sociallinks
    {
      flex: 2;
    }
    .drop-mail
    {
      flex: 3;
      height: 100px;
    }
    .footer
    {
      display: flex;

    }
    .contact-header
    {
      font-size: 15px;
    }
    .DM
    {
      height: 250px;
      padding: 88px 0px;
      margin: 0px 0px
      
    }
    .social a{
      height: 24px;
      width: 14px;
      font-size: .55em;
    }

    .footer
    {
      display: grid;
      
    }
    
}
